# 1 - Listas e operações

## 1.1 - Introduções as coleções e lista

In [1]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1, idade2, idade3)

39 30 27

In [2]:
idades = [39, 30, 27, 18]

In [3]:
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades

[39, 30, 27, 18]

In [6]:
idades.append(23)
idades

[39, 30, 27, 18, 23]

In [7]:
idades.append(30)

In [8]:
idades

[39, 30, 27, 18, 23, 30]

In [9]:
idades.remove(30)
idades

[39, 27, 18, 23, 30]

In [10]:
idades.clear()
idades

[]

## 1.2 - Mais operações em listas e listcomprehension

In [11]:
idades = [39, 30, 27, 18]
18 in idades

True

In [12]:
if 18 in idades:
    idades.remove(18)

In [13]:
idades

[39, 30, 27]

In [14]:
idades.insert(1, 22)
idades

[39, 22, 30, 27]

In [15]:
idades.extend([19, 25])
idades

[39, 22, 30, 27, 19, 25]

In [16]:
idades_mais_um = []

for idade in idades:
    idades_mais_um.append(idade + 1)

idades_mais_um

[40, 23, 31, 28, 20, 26]

In [17]:
idades_mais_um = [(idade + 1) for idade in idades]
idades_mais_um

[40, 23, 31, 28, 20, 26]

In [18]:
menores_de_30 = [idade for idade in idades if idade < 30]
menores_de_30

[22, 27, 19, 25]

# 2 - Tuplas

## 2.1 - Listas com objetos de classes nossas

In [19]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
    
    def depositar(self,valor):
        self.saldo += valor
    
    def __str__(self):
        return f">> Código: {self.codigo} Saldo: {self.saldo} <<"

In [20]:
conta_do_gabriel = ContaCorrente(7777533)
conta_do_gabriel.depositar(20)
print(conta_do_gabriel)

>> Código: 7777533 Saldo: 20 <<

In [21]:
conta_do_dan = ContaCorrente(2222333)
conta_do_dan.depositar(15)
print(conta_do_dan)

>> Código: 2222333 Saldo: 15 <<

In [22]:
lista_contas = [conta_do_gabriel, conta_do_dan, conta_do_gabriel]

In [23]:
lista_contas[0].depositar(150)

In [24]:
print(lista_contas[0])

>> Código: 7777533 Saldo: 170 <<

In [25]:
print(conta_do_gabriel)

>> Código: 7777533 Saldo: 170 <<

## 2.2 - Tuplas, objetos e anemia

In [26]:
def deposita_cem(contas):
    for conta in contas:
        conta.depositar(100)

In [27]:
lista_contas.remove(conta_do_gabriel)
lista_contas

[<__main__.ContaCorrente at 0x1973699c310>,
 <__main__.ContaCorrente at 0x1973699c7c0>]

In [28]:
print(lista_contas[0], lista_contas[1])
deposita_cem(lista_contas)
print(lista_contas[0], lista_contas[1])

>> Código: 2222333 Saldo: 15 << >> Código: 7777533 Saldo: 170 <<
>> Código: 2222333 Saldo: 115 << >> Código: 7777533 Saldo: 270 <<

In [29]:
lista_contas.insert(0, 76)

In [30]:
for conta in lista_contas:
    print(conta)

76
>> Código: 2222333 Saldo: 115 <<
>> Código: 7777533 Saldo: 270 <<

In [31]:
gabriel = ("Gabriel", 1998, 173)
daniel = ("Daniel", 2008, 155)

In [32]:
conta_do_gabriel = (2222333, 150)

def deposita_cem(conta):
    saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, saldo)

In [33]:
deposita_cem(conta_do_gabriel)

(2222333, 250)

## 2.3 - Tupla de objetos e lista de tuplas

In [34]:
conta_do_gabriel = ContaCorrente(7777533)
conta_do_gabriel.depositar(20)

contas = (conta_do_dan, conta_do_gabriel)

In [35]:
for conta in contas:
    print(conta)

>> Código: 2222333 Saldo: 115 <<
>> Código: 7777533 Saldo: 20 <<

In [36]:
correntistas = [("Daniel", conta_do_dan.codigo), ("Gabriel", conta_do_gabriel.codigo)]
print(correntistas)

[('Daniel', 2222333), ('Gabriel', 7777533)]

In [37]:
# correntistas[0][1] = 0000000  # Não consigo alterar uma tupla dentro de uma lista

In [38]:
contas[1].depositar(100)
print(contas[1])

>> Código: 7777533 Saldo: 120 <<

In [39]:
contas[1].saldo = 100  # Consigo alterar um objeto dentro uma tupla
print(contas[1])

>> Código: 7777533 Saldo: 100 <<

# 3 - Polimorfismo e array

## 3.1 - Listas e polimorfiso

In [40]:
class Conta:
    def __init__(self, codigo):
        self.__codigo = codigo
        self.__saldo = 0
    
    def depositar(self,valor):
        self.__saldo += valor
    
    def debitar(self, valor):
        self.__saldo -= valor
    
    @property
    def codigo(self):
        return self.__codigo
    
    @property
    def saldo(self):
        return self.__saldo
    
    def __str__(self):
        return f">> Código: {self.__codigo} Saldo: {self.__saldo:.2f} <<"

In [52]:
 class ContaCorrente(Conta):
    def passa_o_mes(self):
        self.debitar(2)
        
class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self.depositar(self.saldo * 0.02)
        self.debitar(3)

In [42]:
conta1 = ContaCorrente(182)
conta1.depositar(100)
print(conta1)

>> Código: 182 Saldo: 100.00 <<

In [43]:
conta1.passa_o_mes()

In [44]:
print(conta1)

>> Código: 182 Saldo: 98.00 <<

In [45]:
conta2 = ContaPoupanca(473)
conta2.depositar(1000)
print(conta2)

>> Código: 473 Saldo: 1000.00 <<

In [46]:
conta2.passa_o_mes()
print(conta2)

>> Código: 473 Saldo: 1017.00 <<

## 3.2 - Arrays e Numpy

In [48]:
import numpy as np

In [49]:
lista = [1, 2, 3, 4, 5, 6]

lista = np.array(lista)
lista

array([1, 2, 3, 4, 5, 6])

In [50]:
lista_dobrada = lista * 2
lista_dobrada

array([ 2,  4,  6,  8, 10, 12])

## 3.3 - Método abstrato

In [53]:
from abc import ABCMeta, abstractmethod


class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self.__codigo = codigo
        self.__saldo = 0
    
    def depositar(self,valor):
        self.__saldo += valor
    
    def debitar(self, valor):
        self.__saldo -= valor
    
    @abstractmethod
    def passa_o_mes(self):
        pass
    
    @property
    def codigo(self):
        return self.__codigo
    
    @property
    def saldo(self):
        return self.__saldo
    
    def __str__(self):
        return f">> Código: {self.__codigo} Saldo: {self.__saldo:.2f} <<"

In [54]:
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self.debitar(2)
        
class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self.depositar(self.saldo * 0.02)
        self.debitar(3)
        
class ContaInvestimento(Conta):
    pass

In [56]:
# conta3 = ContaInvestimento(439)  # Uma classe com método abstrado não definido NÃO PODERÁ ser instanciada

# 4 - Igualdade

## 4.1 - Igualdade e o __eq__

In [75]:
class ContaSalario:
    
    def __init__(self, codigo):
        self.__codigo = codigo
        self.__saldo = 0.0
        
    def depositar(self,valor):
        self.__saldo += valor
    
    def debitar(self, valor):
        self.__saldo -= valor
    
    @property
    def codigo(self):
        return self.__codigo
    
    @property
    def saldo(self):
        return self.__saldo
    
    def __str__(self):
        return f">> Código: {self.__codigo} Saldo: {self.__saldo:.2f} <<"
    
    def __eq__(self, other):
        if type(other) != ContaSalario:
            return False
        
        else:
            return self.codigo == other.codigo and self.saldo == other.saldo

In [76]:
conta1 = ContaSalario(493)
print(conta1)

>> Código: 493 Saldo: 0.00 <<

In [77]:
conta2 = ContaSalario(493)
print(conta2)

>> Código: 493 Saldo: 0.00 <<

In [78]:
conta1 == conta2

True

In [79]:
conta1 in [conta2]

True

In [80]:
conta1.depositar(15)
print(conta1)

>> Código: 493 Saldo: 15.00 <<

In [81]:
conta1 == conta2

False

In [82]:
conta3 = ContaCorrente(493)
conta3.depositar(15)
print(conta3)

>> Código: 493 Saldo: 15.00 <<

In [83]:
conta1 == conta3

False

In [84]:
isinstance(conta1, ContaSalario)

True

In [86]:
isinstance(conta3, ContaSalario)

False

# 5 - Outros builtins

## 5.1 - Builtins como enumerated, range e desempacotamento automático de tuplas

In [1]:
import random

In [10]:
idades = [random.randint(17, 30) for numero in range(10)]
idades

[25, 22, 19, 18, 17, 30, 23, 21, 26, 30]

In [11]:
list(enumerate(idades))

[(0, 25),
 (1, 22),
 (2, 19),
 (3, 18),
 (4, 17),
 (5, 30),
 (6, 23),
 (7, 21),
 (8, 26),
 (9, 30)]

In [12]:
for valor in enumerate(idades):
    print(valor)

(0, 25)
(1, 22)
(2, 19)
(3, 18)
(4, 17)
(5, 30)
(6, 23)
(7, 21)
(8, 26)
(9, 30)

In [15]:
for indice, idade in enumerate(idades):
    print(indice, "-", idade)

0 - 25
1 - 22
2 - 19
3 - 18
4 - 17
5 - 30
6 - 23
7 - 21
8 - 26
9 - 30

In [16]:
pessoas = [("Gabriel", 22, 1998), ("Beatriz", 18, 2002), ("Daniel", 12, 2008)]

In [17]:
for pessoa in pessoas:
    print(pessoa)

('Gabriel', 22, 1998)
('Beatriz', 18, 2002)
('Daniel', 12, 2008)

In [18]:
for nome, idade, ano_nasc in pessoas:
    print(f"Nome: {nome} - Idade: {idade} - Ano de Nascimento: {ano_nasc}")

Nome: Gabriel - Idade: 22 - Ano de Nascimento: 1998
Nome: Beatriz - Idade: 18 - Ano de Nascimento: 2002
Nome: Daniel - Idade: 12 - Ano de Nascimento: 2008

In [19]:
for nome, idade, _ in pessoas:
    print(f"Nome: {nome} - Idade: {idade}")

Nome: Gabriel - Idade: 22
Nome: Beatriz - Idade: 18
Nome: Daniel - Idade: 12

# 6 - Ordem natural

# 6.1 - Ordenação básica

In [20]:
sorted(idades)

[17, 18, 19, 21, 22, 23, 25, 26, 30, 30]

In [21]:
list(reversed(idades))

[30, 26, 21, 23, 30, 17, 18, 19, 22, 25]

In [22]:
sorted(idades, reverse=True)

[30, 30, 26, 25, 23, 22, 21, 19, 18, 17]

# 7 - Ordenação customizada

## 7.1 - Ordenação de objetos sem ordem natural

In [25]:
class ContaSalario:
    
    def __init__(self, codigo):
        self.__codigo = codigo
        self.__saldo = 0.0
        
    def depositar(self,valor):
        self.__saldo += valor
    
    def debitar(self, valor):
        self.__saldo -= valor
    
    @property
    def codigo(self):
        return self.__codigo
    
    @property
    def saldo(self):
        return self.__saldo
    
    def __str__(self):
        return f">> Código: {self.__codigo} Saldo: {self.__saldo:.2f} <<"
    
    def __eq__(self, other):
        if type(other) != ContaSalario:
            return False
        
        else:
            return self.codigo == other.codigo and self.saldo == other.saldo

In [26]:
conta_do_gabriel = ContaSalario(234)
conta_do_gabriel.depositar(1000)

conta_do_daniel = ContaSalario(525)
conta_do_daniel.depositar(250)

conta_da_beatriz = ContaSalario(394)
conta_da_beatriz.depositar(500)

In [27]:
contas = [conta_do_gabriel, conta_da_beatriz, conta_do_daniel]

In [29]:
for conta in contas:
    print(conta)

>> Código: 234 Saldo: 1000.00 <<
>> Código: 394 Saldo: 500.00 <<
>> Código: 525 Saldo: 250.00 <<

In [34]:
def extrai_saldo(conta):
    return conta.saldo

for conta in sorted(contas, key=extrai_saldo, reverse=True):
    print(conta)

>> Código: 234 Saldo: 1000.00 <<
>> Código: 394 Saldo: 500.00 <<
>> Código: 525 Saldo: 250.00 <<

In [36]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("saldo"), reverse=True):
    print(conta)

>> Código: 234 Saldo: 1000.00 <<
>> Código: 394 Saldo: 500.00 <<
>> Código: 525 Saldo: 250.00 <<

## 7.2 - Implementando o __ lt __

In [38]:
class ContaSalario:
    
    def __init__(self, codigo):
        self.__codigo = codigo
        self.__saldo = 0.0
        
    def depositar(self,valor):
        self.__saldo += valor
    
    def debitar(self, valor):
        self.__saldo -= valor
    
    @property
    def codigo(self):
        return self.__codigo
    
    @property
    def saldo(self):
        return self.__saldo
    
    def __lt__(self, other):
        return self.saldo < other.saldo
    
    def __str__(self):
        return f">> Código: {self.__codigo} Saldo: {self.__saldo:.2f} <<"
    
    def __eq__(self, other):
        if type(other) != ContaSalario:
            return False
        
        else:
            return self.codigo == other.codigo and self.saldo == other.saldo

In [44]:
conta_do_gabriel = ContaSalario(234)
conta_do_gabriel.depositar(1000)

conta_do_daniel = ContaSalario(525)
conta_do_daniel.depositar(250)

conta_da_beatriz = ContaSalario(394)
conta_da_beatriz.depositar(500)

contas = [conta_da_beatriz, conta_do_daniel, conta_do_gabriel]

In [45]:
conta_da_beatriz < conta_do_daniel

False

In [46]:
for conta in sorted(contas):
    print(conta)

>> Código: 525 Saldo: 250.00 <<
>> Código: 394 Saldo: 500.00 <<
>> Código: 234 Saldo: 1000.00 <<

# 8 - Ordenação total

## 8.1 - Ordenação completa e functools

In [47]:
conta_do_daniel.depositar(250)
print(conta_do_daniel)

>> Código: 525 Saldo: 500.00 <<

In [48]:
for conta in sorted(contas, key=attrgetter("saldo", "codigo")):
    print(conta)

>> Código: 394 Saldo: 500.00 <<
>> Código: 525 Saldo: 500.00 <<
>> Código: 234 Saldo: 1000.00 <<

In [52]:
from functools import total_ordering

@total_ordering
class ContaSalario:
    
    def __init__(self, codigo):
        self.__codigo = codigo
        self.__saldo = 0.0
        
    def depositar(self,valor):
        self.__saldo += valor
    
    def debitar(self, valor):
        self.__saldo -= valor
    
    @property
    def codigo(self):
        return self.__codigo
    
    @property
    def saldo(self):
        return self.__saldo
    
    def __lt__(self, other):
        if self.saldo != other.saldo:
            return self.saldo < other.saldo
        
        else:
            return self.codigo < other.codigo
    
    def __str__(self):
        return f">> Código: {self.__codigo} Saldo: {self.__saldo:.2f} <<"
    
    def __eq__(self, other):
        if type(other) != ContaSalario:
            return False
        
        else:
            return self.codigo == other.codigo and self.saldo == other.saldo

In [53]:
conta_do_gabriel = ContaSalario(123)
conta_do_gabriel.depositar(1000)

conta_do_daniel = ContaSalario(345)
conta_do_daniel.depositar(1000)

conta_da_beatriz = ContaSalario(234)
conta_da_beatriz.depositar(1000)

contas = [conta_da_beatriz, conta_do_daniel, conta_do_gabriel]

In [54]:
for conta in sorted(contas):
    print(conta)

>> Código: 123 Saldo: 1000.00 <<
>> Código: 234 Saldo: 1000.00 <<
>> Código: 345 Saldo: 1000.00 <<

In [56]:
conta_do_daniel >= conta_do_gabriel

True